doc/workflows/01_extraer_contenido.json
{
    "name": "PoliCheck - Workflow 1: Extraer Contenido de Fuente",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "policheck-extract",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-trigger",
            "name": "Webhook Trigger",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1.1,
            "position": [
                240,
                300
            ],
            "notes": "Recibe: { source_id, url, source_type, politician_id }"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true
                    },
                    "conditions": [
                        {
                            "id": "youtube-check",
                            "leftValue": "={{ $json.body.url }}",
                            "rightValue": "youtube.com",
                            "operator": {
                                "type": "string",
                                "operation": "contains"
                            }
                        }
                    ]
                }
            },
            "id": "router-youtube",
            "name": "¿Es YouTube?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                460,
                300
            ]
        },
        {
            "parameters": {
                "url": "=https://www.youtube.com/watch?v={{ $json.body.url.split('v=')[1] || $json.body.url.split('youtu.be/')[1] }}",
                "options": {
                    "response": {
                        "response": {
                            "responseFormat": "text"
                        }
                    }
                }
            },
            "id": "youtube-page-fetch",
            "name": "Obtener página YouTube",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                680,
                180
            ],
            "notes": "Descarga el HTML de YouTube para extraer metadatos del video"
        },
        {
            "parameters": {
                "url": "={{ $('Webhook Trigger').item.json.body.url }}",
                "options": {
                    "response": {
                        "response": {
                            "responseFormat": "text"
                        }
                    },
                    "timeout": 30000
                }
            },
            "id": "article-fetch",
            "name": "Obtener Artículo HTML",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                680,
                420
            ],
            "notes": "Descarga el HTML del artículo periodístico"
        },
        {
            "parameters": {
                "jsCode": "// Extrae título y texto del HTML de YouTube\nconst html = $input.first().json.data;\n\n// Extraer título del video\nconst titleMatch = html.match(/<title[^>]*>([^<]+)<\\/title>/i);\nconst title = titleMatch ? titleMatch[1].replace(' - YouTube', '').trim() : 'Video sin título';\n\n// Extraer descripción\nconst descMatch = html.match(/\"description\":{\"simpleText\":\"([^\"]+)\"/);\nconst description = descMatch ? descMatch[1].substring(0, 2000) : '';\n\nreturn [{\n  json: {\n    source_id: $('Webhook Trigger').item.json.body.source_id,\n    politician_id: $('Webhook Trigger').item.json.body.politician_id,\n    url: $('Webhook Trigger').item.json.body.url,\n    source_type: 'video_youtube',\n    title: title,\n    extracted_text: description || title,\n    char_count: (description || title).length\n  }\n}];"
            },
            "id": "parse-youtube",
            "name": "Parsear YouTube",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                900,
                180
            ]
        },
        {
            "parameters": {
                "jsCode": "// Extrae título y texto plano del HTML del artículo\nconst html = $input.first().json.data;\n\n// Título\nconst titleMatch = html.match(/<title[^>]*>([^<]+)<\\/title>/i);\nconst h1Match = html.match(/<h1[^>]*>([^<]+)<\\/h1>/i);\nconst title = (titleMatch ? titleMatch[1] : (h1Match ? h1Match[1] : 'Sin título')).trim();\n\n// Texto: eliminar tags HTML, scripts y estilos\nlet text = html\n  .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n  .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n  .replace(/<nav[^>]*>[\\s\\S]*?<\\/nav>/gi, '')\n  .replace(/<header[^>]*>[\\s\\S]*?<\\/header>/gi, '')\n  .replace(/<footer[^>]*>[\\s\\S]*?<\\/footer>/gi, '')\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/&nbsp;/g, ' ')\n  .replace(/&amp;/g, '&')\n  .replace(/\\s+/g, ' ')\n  .trim()\n  .substring(0, 8000); // Máx 8000 chars para no saturar la IA\n\nreturn [{\n  json: {\n    source_id: $('Webhook Trigger').item.json.body.source_id,\n    politician_id: $('Webhook Trigger').item.json.body.politician_id,\n    url: $('Webhook Trigger').item.json.body.url,\n    source_type: 'articulo_noticia',\n    title: title,\n    extracted_text: text,\n    char_count: text.length\n  }\n}];"
            },
            "id": "parse-article",
            "name": "Parsear Artículo",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                900,
                420
            ]
        },
        {
            "parameters": {},
            "id": "merge-results",
            "name": "Unir Resultados",
            "type": "n8n-nodes-base.merge",
            "typeVersion": 3,
            "position": [
                1120,
                300
            ],
            "notes": "Une la salida de YouTube o Artículo para el siguiente paso"
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ success: true, source_id: $json.source_id, title: $json.title, char_count: $json.char_count }) }}"
            },
            "id": "respond-webhook",
            "name": "Responder Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1340,
                300
            ]
        }
    ],
    "connections": {
        "Webhook Trigger": {
            "main": [
                [
                    {
                        "node": "¿Es YouTube?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "¿Es YouTube?": {
            "main": [
                [
                    {
                        "node": "Obtener página YouTube",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Obtener Artículo HTML",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Obtener página YouTube": {
            "main": [
                [
                    {
                        "node": "Parsear YouTube",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Obtener Artículo HTML": {
            "main": [
                [
                    {
                        "node": "Parsear Artículo",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parsear YouTube": {
            "main": [
                [
                    {
                        "node": "Unir Resultados",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parsear Artículo": {
            "main": [
                [
                    {
                        "node": "Unir Resultados",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "Unir Resultados": {
            "main": [
                [
                    {
                        "node": "Responder Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "tags": [
        {
            "name": "policheck"
        }
    ]
}