doc/workflows/03_analisis_unificado_dev.json
{
    "name": "PoliCheck - Workflow Unificado (Modo DEV)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "policheck-process",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-trigger",
            "name": "Webhook: Iniciar Proceso",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1.1,
            "position": [
                240,
                300
            ],
            "notes": "Recibe: { source_id, url, source_type, politician_id }"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true
                    },
                    "conditions": [
                        {
                            "id": "youtube-check",
                            "leftValue": "={{ $json.body.url }}",
                            "rightValue": "youtube.com",
                            "operator": {
                                "type": "string",
                                "operation": "contains"
                            }
                        }
                    ]
                }
            },
            "id": "router-youtube",
            "name": "¿Es YouTube?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                460,
                300
            ]
        },
        {
            "parameters": {
                "url": "=https://www.youtube.com/watch?v={{ $json.body.url.split('v=')[1] || $json.body.url.split('youtu.be/')[1] }}",
                "options": {
                    "response": {
                        "response": {
                            "responseFormat": "text"
                        }
                    }
                }
            },
            "id": "youtube-page-fetch",
            "name": "Obtener página YouTube",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                680,
                180
            ]
        },
        {
            "parameters": {
                "url": "={{ $('Webhook: Iniciar Proceso').item.json.body.url }}",
                "options": {
                    "response": {
                        "response": {
                            "responseFormat": "text"
                        }
                    },
                    "timeout": 30000
                }
            },
            "id": "article-fetch",
            "name": "Obtener Artículo HTML",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                680,
                420
            ]
        },
        {
            "parameters": {
                "jsCode": "const html = $input.first().json.data;\nconst titleMatch = html.match(/<title[^>]*>([^<]+)<\\/title>/i);\nconst title = titleMatch ? titleMatch[1].replace(' - YouTube', '').trim() : 'Video sin título';\nconst descMatch = html.match(/\"description\":{\"simpleText\":\"([^\"]+)\"/);\nconst description = descMatch ? descMatch[1].substring(0, 2000) : '';\n\nreturn [{\n  json: {\n    source_id: $('Webhook: Iniciar Proceso').item.json.body.source_id,\n    politician_id: $('Webhook: Iniciar Proceso').item.json.body.politician_id,\n    url: $('Webhook: Iniciar Proceso').item.json.body.url,\n    source_type: 'video_youtube',\n    title: title,\n    extracted_text: description || title,\n    char_count: (description || title).length\n  }\n}];"
            },
            "id": "parse-youtube",
            "name": "Parsear YouTube",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                900,
                180
            ]
        },
        {
            "parameters": {
                "jsCode": "const html = $input.first().json.data;\nconst titleMatch = html.match(/<title[^>]*>([^<]+)<\\/title>/i);\nconst h1Match = html.match(/<h1[^>]*>([^<]+)<\\/h1>/i);\nconst title = (titleMatch ? titleMatch[1] : (h1Match ? h1Match[1] : 'Sin título')).trim();\n\nlet text = html\n  .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n  .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n  .replace(/<nav[^>]*>[\\s\\S]*?<\\/nav>/gi, '')\n  .replace(/<header[^>]*>[\\s\\S]*?<\\/header>/gi, '')\n  .replace(/<footer[^>]*>[\\s\\S]*?<\\/footer>/gi, '')\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/&nbsp;/g, ' ')\n  .replace(/&amp;/g, '&')\n  .replace(/\\s+/g, ' ')\n  .trim()\n  .substring(0, 8000);\n\nreturn [{\n  json: {\n    source_id: $('Webhook: Iniciar Proceso').item.json.body.source_id,\n    politician_id: $('Webhook: Iniciar Proceso').item.json.body.politician_id,\n    url: $('Webhook: Iniciar Proceso').item.json.body.url,\n    source_type: 'articulo_noticia',\n    title: title,\n    extracted_text: text,\n    char_count: text.length\n  }\n}];"
            },
            "id": "parse-article",
            "name": "Parsear Artículo",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                900,
                420
            ]
        },
        {
            "parameters": {},
            "id": "merge-extraction",
            "name": "Unir Extracción",
            "type": "n8n-nodes-base.merge",
            "typeVersion": 3,
            "position": [
                1120,
                300
            ]
        },
        {
            "parameters": {
                "url": "https://openrouter.ai/api/v1/chat/completions",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "model",
                            "value": "openai/gpt-4o-mini"
                        },
                        {
                            "name": "messages",
                            "value": "=[{ \"role\": \"system\", \"content\": \"Eres un analista político imparcial. Analiza la siguiente fuente sobre un político chileno y evalúa: 1) Veracidad(0-100), 2) Coherencia(0-100), 3) Sesgo. Responde SOLO en JSON: {\\\"veracity_score\\\": number, \\\"coherence_score\\\": number, \\\"bias_analysis\\\": string, \\\"summary\\\": string, \\\"key_claims\\\": [string]}\" }, { \"role\": \"user\", \"content\": \"Título: \" + $json.title + \"\\n\\nContenido: \" + $json.extracted_text }]"
                        },
                        {
                            "name": "max_tokens",
                            "value": "=800"
                        }
                    ]
                },
                "options": {
                    "timeout": 60000
                }
            },
            "id": "gpt4-mini",
            "name": "GPT-4o Mini",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1340,
                100
            ],
            "notes": "Modelo Económico 1"
        },
        {
            "parameters": {
                "url": "https://openrouter.ai/api/v1/chat/completions",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "model",
                            "value": "google/gemma-3-27b-it"
                        },
                        {
                            "name": "messages",
                            "value": "=[{ \"role\": \"system\", \"content\": \"Eres un analista político imparcial. Analiza la siguiente fuente sobre un político chileno y evalúa: 1) Veracidad(0-100), 2) Coherencia(0-100), 3) Sesgo. Responde SOLO en JSON: {\\\"veracity_score\\\": number, \\\"coherence_score\\\": number, \\\"bias_analysis\\\": string, \\\"summary\\\": string, \\\"key_claims\\\": [string]}\" }, { \"role\": \"user\", \"content\": \"Título: \" + $json.title + \"\\n\\nContenido: \" + $json.extracted_text }]"
                        },
                        {
                            "name": "max_tokens",
                            "value": "=800"
                        }
                    ]
                },
                "options": {
                    "timeout": 60000
                }
            },
            "id": "gemma",
            "name": "Gemma 3",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1340,
                300
            ],
            "notes": "Modelo Económico 2"
        },
        {
            "parameters": {
                "url": "https://openrouter.ai/api/v1/chat/completions",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "model",
                            "value": "google/gemini-2.5-flash-lite-preview-06-17"
                        },
                        {
                            "name": "messages",
                            "value": "=[{ \"role\": \"system\", \"content\": \"Eres un analista político imparcial. Analiza la siguiente fuente sobre un político chileno y evalúa: 1) Veracidad(0-100), 2) Coherencia(0-100), 3) Sesgo. Responde SOLO en JSON: {\\\"veracity_score\\\": number, \\\"coherence_score\\\": number, \\\"bias_analysis\\\": string, \\\"summary\\\": string, \\\"key_claims\\\": [string]}\" }, { \"role\": \"user\", \"content\": \"Título: \" + $json.title + \"\\n\\nContenido: \" + $json.extracted_text }]"
                        },
                        {
                            "name": "max_tokens",
                            "value": "=800"
                        }
                    ]
                },
                "options": {
                    "timeout": 60000
                }
            },
            "id": "flash-lite",
            "name": "Flash Lite",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1340,
                500
            ],
            "notes": "Modelo Económico 3"
        },
        {
            "parameters": {
                "jsCode": "const items = $input.all();\nconst baseData = $('Unir Extracción').item.json;\nconst modelNames = ['openai/gpt-4o-mini', 'google/gemma-3-27b-it', 'google/gemini-2.5-flash-lite-preview-06-17'];\nconst results = [];\nlet totalVeracity = 0;\nlet validCount = 0;\n\nitems.forEach((item, index) => {\n  try {\n    const raw = item.json.choices?.[0]?.message?.content || '{}';\n    const parsed = JSON.parse(raw.replace(/```json\\n?|```/g, '').trim());\n    \n    results.push({\n      source_id: baseData.source_id,\n      model_name: modelNames[index] || `modelo_${index}`,\n      report_json: parsed,\n      summary: parsed.summary || '',\n      veracity_score: parsed.veracity_score || null\n    });\n    \n    if (parsed.veracity_score) {\n      totalVeracity += parsed.veracity_score;\n      validCount++;\n    }\n  } catch(e) {\n    console.log('Error parseando: ' + e.message);\n  }\n});\n\nconst avgVeracity = validCount > 0 ? (totalVeracity / validCount).toFixed(2) : null;\n\nreturn [{\n  json: {\n    reports: results,\n    source_id: baseData.source_id,\n    politician_id: baseData.politician_id,\n    avg_veracity: avgVeracity,\n    models_used: validCount,\n    title: baseData.title\n  }\n}];"
            },
            "id": "combine-analysis",
            "name": "Combinar Análisis",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1560,
                300
            ]
        },
        {
            "parameters": {
                "url": "=https://alxidykzaoiupbnlxgcf.supabase.co/rest/v1/ai_reports",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
                        },
                        {
                            "name": "Authorization",
                            "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Prefer",
                            "value": "return=minimal"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "",
                            "value": "={{ JSON.stringify($json.reports) }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "save-to-supabase",
            "name": "Guardar en Supabase",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1780,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ success: true, source_id: $json.source_id, avg_veracity: $json.avg_veracity, title: $json.title }) }}"
            },
            "id": "respond-ok",
            "name": "Responder a Next.js",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                2000,
                300
            ]
        }
    ],
    "connections": {
        "Webhook: Iniciar Proceso": {
            "main": [
                [
                    {
                        "node": "¿Es YouTube?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "¿Es YouTube?": {
            "main": [
                [
                    {
                        "node": "Obtener página YouTube",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Obtener Artículo HTML",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Obtener página YouTube": {
            "main": [
                [
                    {
                        "node": "Parsear YouTube",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Obtener Artículo HTML": {
            "main": [
                [
                    {
                        "node": "Parsear Artículo",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parsear YouTube": {
            "main": [
                [
                    {
                        "node": "Unir Extracción",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parsear Artículo": {
            "main": [
                [
                    {
                        "node": "Unir Extracción",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "Unir Extracción": {
            "main": [
                [
                    {
                        "node": "GPT-4o Mini",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Gemma 3",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Flash Lite",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "GPT-4o Mini": {
            "main": [
                [
                    {
                        "node": "Combinar Análisis",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gemma 3": {
            "main": [
                [
                    {
                        "node": "Combinar Análisis",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "Flash Lite": {
            "main": [
                [
                    {
                        "node": "Combinar Análisis",
                        "type": "main",
                        "index": 2
                    }
                ]
            ]
        },
        "Combinar Análisis": {
            "main": [
                [
                    {
                        "node": "Guardar en Supabase",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Guardar en Supabase": {
            "main": [
                [
                    {
                        "node": "Responder a Next.js",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}